<div class="justify-content-center m-4 align-self-center d-flex align-items-center">
<div class="border-3 rounded border border-dark text-center p-4 m-4">
<span class="display-1" ><i class="bi bi-github"></i> GITHUB SEARCH <i class="bi bi-search"></i></span>  
<hr>
<p class="lead">This web application enables users to search for various github usernames and repositories using Github's free API.<br>Proceed to <span class="text-info"> Users icon <i class="bi bi-people-fill"></i></span></p>
</div>
</div>